---
import MainLayout from '../../layouts/MainLayout.astro';
import {Image, getImage} from "astro:assets";
import sf_package from "../../images/vini/sfondo_vini_pck.jpg";
import pk_bianco from "../../images/vini/vino_bianco_pck.jpg";
import pk_nero from "../../images/vini/vino_nero_pck.jpg";
const optimizedBackground = await getImage({src: sf_package, format: 'webp'});

const titlePage = "I Nostri Vini";
---
<MainLayout title={titlePage}>
  <div class="container-fluid rounded-4 overflow-hidden" style="max-width: 1440px">
    <Image
      class="img-fluid"
      src={sf_package}
      alt="sfondo vini"
      decoding="async"
      loading="lazy" />
  </div>


  <header>
    <div class="container">
      <div class="col-11 mx-auto my-10">
          <h1 class="display-1 fw-bold">{titlePage}</h1>
          <p class="text-paragraph mb-4">
          I vini della Cantina Piano, il fresco Vermentino e il complesso
          Cannonau, sono espressioni autentiche della Sardegna. Ogni
          bottiglia, avvolta in un packaging di carta semplice ed elegante,
          racconta una storia di passione e tradizione. Lo spago che chiude
          delicatamente l'involucro in alto aggiunge un tocco rustico e
          raffinato, sottolineando l'attenzione ai dettagli e l'artigianalità
          del nostro lavoro. Questi vini non sono solo da bere, ma da vivere e
          assaporare lentamente, celebrando ogni sorso. </p>
      </div>
    </div>
  </header>

  <section class="container-xxl">
    <div class="row">
      <div class="col-12 py-3 px-5 col-md-6 bg-winegold">
        <h1 class="display-4">il Bianco</h1>
        <p class="text-paragraph">Il nostro vino bianco è una vera e propria ode ai profumi e ai sapori della Sardegna. Fresco e aromatico, si caratterizza per le sue note di frutta tropicale e agrumi, accompagnate da un delicato sentore di fiori bianchi. È un vino che invita alla calma e alla riflessione, perfetto per essere gustato lentamente, assaporando ogni sorso. La sua complessità e finezza lo rendono ideale per accompagnare piatti di pesce e formaggi freschi, esaltando al meglio la cucina mediterranea.</p>
        <a href="/i-vini/il-bianco"
           class="btn btn-secondary px-6 mt-5">Scopri</a>
      </div>
      <div class="col-12 col-md-6 p-0 m-0 overflow-hidden">
        <Image
          src={pk_bianco}
          alt="Bottiglia vino Bianco"
          class="img-fluid object-fit-cover h-100"
          decoding="async"
          loading="lazy"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 p-0 m-0 overflow-hidden order-2 order-md-1">
        <Image
          src={pk_nero}
          alt="Bottiglia vino Nero"
          class="img-fluid object-fit-cover h-100"
          decoding="async"
          loading="lazy"
        />
      </div>

      <div class="col-12 py-3 px-5 col-md-6 bg-winebrown text-white order-1 order-md-2">
        <h1 class="display-4">il Nero</h1>
        <p class="text-paragraph">Il vino nero, invece, è un'esperienza sensoriale intensa e avvolgente. Di colore rosso rubino profondo, offre al palato un bouquet ricco di frutti di bosco, spezie e un tocco di vaniglia. La sua struttura robusta e i tannini morbidi lo rendono un compagno perfetto per piatti di carne e formaggi stagionati. Ogni sorso è un viaggio nel cuore della Sardegna, un'occasione per scoprire la profondità e la ricchezza di questa terra antica.</p>
        <a href="/i-vini/il-nero" class="btn btn-primary px-6 mt-5">Scopri</a>
      </div>
    </div>
  </section>



  <section>
    <div class="px-4 py-5 my-10 my-md-16 text-center">
      <a href="./" class="navbar-brand">
        <img class="w-25 w-md-75"
             src="./imgs/icon-bn-logo_cantina-piano.svg" alt="Logo">
      </a>
      <div class="col-lg-6 mx-auto mt-3">
        <p class="lead mb-4">
          Ti invitiamo a vivere la vita con lentezza e consapevolezza, a
          prendere il tempo necessario per apprezzare le piccole gioie
          quotidiane. In un mondo che corre sempre più veloce, la Cantina Piano
          ti propone un ritorno alla lentezza, alla degustazione attenta e
          meditativa. Ogni bicchiere dei nostri vini è pensato per essere
          assaporato con calma, godendo di ogni sfumatura e aroma che la nostra
          terra ha da offrire.
        </p>
      </div>
    </div>
  </section>
</MainLayout>
