---
import MainLayout from '../layouts/MainLayout.astro';
import { Image } from "astro:assets";
import bottle_nero from "../images/vino_nero_bottle_nobg.png";
const titlePage = "Blog di un sommelier";
import {getCollection} from 'astro:content';
import type { CollectionEntry } from 'astro:content';
const allBlogPosts: CollectionEntry<any>[] = await getCollection('blog');
import {formatDate} from "../utils";
import PostEl from "../components/PostEl.astro";
---
<MainLayout title={titlePage}>
    <h1>{titlePage}</h1>
    <Image
            src={bottle_nero}
            alt="Bottiglia di vino nero"
            class="w-25 img-fluid"
            decoding="async"
            loading="lazy"
    />
    {allBlogPosts.map((post) => (

            <PostEl
                post={post}
            />
    ))}

</MainLayout>