---
//import "bootstrap/scss/bootstrap.scss";
import "../main.scss";
import bootstrap from "bootstrap/dist/js/bootstrap.bundle.min.js?url";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";
import {SITE_TITLE, SITE_DESCRIPTION} from "../constants.ts";
import "@fontsource/source-serif-pro";
import '@fontsource/cookie';
import { ViewTransitions } from 'astro:transitions'

import { Breadcrumbs } from "astro-breadcrumbs";
/*import "astro-breadcrumbs/breadcrumbs.scss";
import "../breadcrumbs.scss";*/

const {title} = Astro.props;
---

<html lang="it" data-bs-theme="light" >

    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <meta name="description" content={SITE_DESCRIPTION} />
        <title>{SITE_TITLE} | {title} | {SITE_DESCRIPTION} </title>
    </head>
    <body class="text-winedark">
        <NavBar />

        <main>
          <!--<Breadcrumbs />-->
            <slot />
        </main>

        <Footer />

    </body>

    <script src={bootstrap}></script>

</html>

